.background{
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("../../Decoration/marmol-rosa.jpg");
    background-size: cover;
    overflow: auto;
    padding: 30px;
}

.contentPadre{
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    border: 3px solid rgb(255, 255, 255);

    /* padding: 13px 19px 13px 19px; */
    height: 100%;
    width: 100%;
    overflow: auto;
}
.contNavBarPadre{
    background-color: #F44869;
    display: flex ;
    justify-content: center;
    position: relative;
    flex-direction:row;
    align-items:center;
    place-content: space-around;
    padding: 2% 0% 2% 0%;
}

.navRec{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: 20;
    font-size: 20px;
}
.navRec:hover{
    background-color: #2B3951;
    transition-delay: 0.2s;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}
.button{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    padding: 10px 7px 10px 7px;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.button:hover{
    background-color: #2B3951;
    transition-delay: 0.2s;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}

.home{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.575);
}
.button{
    font-size: 18px;
    display: flex;
    margin-left: 90%;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 1px 1px black;
    border-radius: 10%;
}
.CreateRecipePadre{
    
    width: 100%;
    display: flex ;
    justify-content: center;
    position: relative;
    flex-direction:row;
    align-items:center;
    padding: 20px;
}
.CreateRecipe{
    height: 100%;
    width: 100%;
    padding: 40px;
    /* background: #2e34a8; */
    border-radius: 20px;
    border: 4px solid #F44869;
    padding: 15px;
}
.form{
    font-style: italic;
}
.title{
    margin: 3%;
}
.scores{
    margin-top: 5%;
    margin-bottom: 5%;
}
.range{
    margin-left: 50%;
}
ul{
    list-style: none;
    justify-content: center;
    position: relative;
    flex-direction:row;
    align-items:center;
}
.submit{
    border-radius: 50%;
    width: 80px;
    border: none;
    background-color: rgba(53, 51, 51, 0.11);
    box-shadow: 2px 2px 4px 1px black;
}
.submit:hover{
    transform: scale(1.1);
}
.h5{
    padding: 10px 10px;
    background-color: #F44869;
    margin-left: 2%;
    border-radius: 50px;
    width: fit-content;
}

.x{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 4px 1px black;
    width: fit-content;
    height: fit-content;
}
.del{
    margin-top: 1%;
    margin-bottom: 1% ;
    display: flex;
    flex-direction: row;
    background-color: #F44869;
}
